<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
     <add name="ModelRofex" connectionString="data source=serverdevnet2;initial catalog=Rofex_WebSite;persist security info=True;user id=sa;password=Pa$$w0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>